@model IEnumerable<LMS_WebApplication.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Student Register</h2>


<table class="table">
    <tr>
        <th>
            ID Number
        </th>
        <th>
            Lastname)
        </th>
        <th>
            Firstname
        </th>
        <th>
            Class
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
    </tr>
}

</table>
