@model LMS_WebApplication.Student

@{
    ViewBag.Title = "Welcome";
}



<fieldset>
    <span class="nametext">Welcome </span>
    @Html.TextBoxFor(model => model.F_Name, new { @readonly = "readonly", @class = "nametext" })
    
</fieldset>


<h4><br /> please select options from the navigation bar above</h4>

<img src="~/Images/UPTOWN_college_students_library.jpg" />


