@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Management System</h1>
    <p class="lead">Welcome to the Student Portal</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            If you do not have an account, please click below to register
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Register", "Create", "Students")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enter Student Portal</h2>
        <p>If you have registered an account, please click below to login</p>
        <p><a class="btn btn-default" @Html.ActionLink("Login", "Login", "Users")</a></p>
    </div>
</div>